 <%= javascript_include_tag "timer" %>
 <%= stylesheet_link_tag "timer" %>
 
 <div class="modal fade" id="challengeModal" tabindex="-1" role="dialog" aria-labelledby="challengeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="challengeModalLabel"><%= @challenge.name %></h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid"> <!-- needed to use Grid system -->
            <!-- ******* TIMER ELEMENT *********** -->
            <div class='row'> 
              <div class='col-md-1' ></div> 
              <div class='col-md-10 label label-danger container2' style='height:50px'>
                <div class="row">
                      <div class="col-xs-8 col-sm-4"></div>
                      <div class="col-xs-4 col-sm-4">
                          <h3 class='timer text-center' data-minutes-left=<%= @challenge.duration.to_i/1000/60 %>></h3>
                      </div>
                      <div class="col-xs-4 col-sm-4"></div>
                </div>
              </div>
              <div class='col-md-1' ></div> 
            </div>
              <% unless @challenge.video.nil?%>
                <iframe width="560" height="315" src="<%= @challenge.video%>" frameborder="0" allowfullscreen></iframe>
              <% end %>
              <p><%= @challenge.content %></p>
              <!--  *********** Upload Answer Elements ************** -->
              <div class='row'>
                <div class='col-md-12'>
                  <fieldset class='scheduler-border'>
                    <legend class='scheduler-border'>File</legend>  
                    <div class='row'>
                      <div class='col-md-12'>              
                        <form class="form-inline">                
                          <div class="form-group">
                             <input type="file" id="exampleInputFile">
                          </div>              
                          <button type="submit" class="btn btn-default">Upload</button>                     
                        </form>
                      </div>
                    </div>
                  </fieldset>             
                  </div>
                </div>  
              </div>
          
              <!--  *********** Download Answer Button ************** -->
              <div class='row'>
                <div class='col-md-2' ></div>  
                <div class='col-md-8'>
                  <div class='row'>
                    <div class='col-md-2' ></div>  
                      <button class='btn btn-primary btn-default col-md-8'>Download the Answer</button>
                    <div class='col-md-2'></div>  
                  </div>        
                </div>  
                <div class='col-md-2'></div>  
              </div> 
          </div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>