<div class='container'>	
	<h3>You have completed <%= @total_completed %>/<%= @total_challenges %>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Category</th>
				<th>Challenges</th>
			</tr>
		</thead>
		<tbody>
			<% for @category in @categories %>
					
				<tr>
					<td><!-- First column: category with link to modal window -->
						<a data-toggle="modal" data-target="#myModal" data-name="<%= @category.name.to_s %>" data-desc="<%= @category.description.to_s %>" data-video="<%= @category.video %>">
						  <%= @category.name.to_s.strip %>
						</a>
						<!-- Modal -->
						  <%= render partial: "show" %>
					</td>
					<td> <!-- contains links to challenges -->
							<% for @challenge in @category.challenges.order(:duration) %>
								<% unless @challenge.status %> 
								<%= render partial: "show_challenge", object: @challenge %>
								 <!-- if challenge has not been completed, create link and allow modal -->
								 	<% time_in_minutes = @challenge.duration.to_i/1000/60

								 		if time_in_minutes > 60 
								 			time_hours = time_in_minutes/60
								 			time_minutes = time_in_minutes - time_hours*60
								 			tooltip_message = "This challenge should take " + time_hours.to_s + " hours and " + time_minutes.to_s + " minutes to complete. Do not start unless you have the time." 
								 		else
								 			tooltip_message = "This challenge should take " + time_in_minutes.to_s + " minutes to complete. Do not start unless you have the time." 
								 		end
								 	%>
									<button type="button" class="btn btn-default btn-xs">	 
										<a data-toggle="modal"  data-target="#challengeModal">
						  					<span data-toggle="tooltip" title='<%= tooltip_message%>'>
						  					  		<%= @challenge.name.to_s.strip %>
						  					<span>
										</a>
									</button>
								<% else %> <!-- challenge completed, disable link -->
									<button type="button" class="btn btn-success btn-xs">
										  <%= @challenge.name.to_s.strip %>
									</button>
								<% end %>
						<% end %>  <!-- endo of for loop for each challenge -->
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<%= yield :javascript %> 
